extends ./layouts/starter

append styles
    // Custom styles for this template
    link(href='../css/sticky-footer.css', rel='stylesheet')

block body
    +navbar-fixed("CS Searcher","navbar","inverse")
        +nav_item("/") Home
        +nav_item("/about", "active") About
        +nav_item("/contact") Contact
    .container
        h1 About
        h2= title
        +panel-default()
            -for str in content
                p= str
    footer.footer
        .container
            p.text-muted Computer Network 2016, CS Department, Peking University
