extends ./layouts/starter

append styles
    // Custom styles for this template
    link(href='../css/sticky-footer.css', rel='stylesheet')

block body
    +navbar-fixed("CS Searcher","navbar","inverse")
        +nav_item("/") Home
        +nav_item("/about") About
        +nav_item("/contact", "active") Contact
    .container
        h1 Contact
        h2= title
        p #{content}
        each info, index in infos
            +panel-info(index)
                a(href='mailto:' + info) #{info}
    footer.footer
        .container
            p.text-muted Computer Network 2016, CS Department, Peking University
